{% if is_paginated %}
  <div class="pagination">
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    <div class="page-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <strong>{{ i }}</strong>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endif %}

